/* ------FONTS------ */
$main-font: 'Lato', sans-serif;

/* ------COLORS------ */
/* ------font colors----- */
$main-font-dark-color: #121B13;
$main-font-bright-color: #ECEEED;
// $link-color: #545454;
// $lightened-color: #ff001b;
/* ------background colors------ */
$main-background-color: #ffffff;
$header-overlay-color: rgb(43, 45, 28, 0.6);
$modal-overlay-color: rgb(217, 217, 217, 0.3);
$card-overlay-color: rgb(124, 129, 62, 15%);
/* ------ DARK MODE COLORS ------ */
// $dark-mode-main-background-color: #19252f;
// $dark-mode-main-font-bright-color: #ffffff;
// $dark-mode-border-bright-gray-color: #8c8c8c;
// $dark-mode-modal-background-color: #413b39;
/* ------other colors------ */
// $underline-color: #ff001b;
/* ------OTHER VARIABLES------ */
$box-shadow: box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$border-radius: 5px;

/* ------MIXIN------ */
@mixin mobile-retina {
  @media (max-width: 767px),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin tablet-retina {
  @media (min-width: 768px),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
@mixin desktop-retina {
  @media (min-width: 1280px),
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}
/* reminder how to use mixin in media queries:
.products {
  gap: 20px;
  
  @include desktop {
    gap: 24px;
  }
} 
*/
