<header>
  <div class="header container">
    <div class="header__nav">
      <div class="header__logo"></div>
      <nav class="nav">
        <ul class="list nav__list">
          <li class="list__item nav__item"><p>My cookbook</p></li>
          <li class="list__item nav__item"><p>User profile</p></li>
        </ul>
      </nav>
    </div>
    <form class="form header__form">
      <label class="form__label">
        Would you like to try something new?
        <input
          class="form__input"
          type="text"
          name="search-field"
          placeholder="Search"
        />
      </label>
      <button
        class="form__btn header__search-btn"
        type="submit"
        name="search-btn"
      >
        <img src="" />
      </button>
    </form>
  </div>
</header>
