<div class="recipe-modal__backdrop">
  <div class="recipe-modal">
    <button class="close-btn" title="close-btn" type="button" data-modal-close>
      <svg
        class="modal__icon-close"
        width="30"
        height="30"
        viewport="0 0 32 32"
      >
        <use href="./images/icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="recipe">
      <div class="recipe__header">
        <div class="recipe__img"></div>
        <h2 class="recipe__name"></h2>
        <div class="recipe__making-info">
          <ul class="list recipe__making-list">
            <li class="list__item">
              <p class="recipe__basic-info">preparing time:</p>
            </li>
            <li class="list__item">
              <p class="recipe__basic-info">cooking time:</p>
            </li>
            <li class="list__item">
              <p class="recipe__basic-info">servings:</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="recipe__info">
        <h3 class="recipe__tag">Ingredients</h3>
      </div>
      <div class="recipe__info">
        <h3 class="recipe__tag">Directions</h3>
      </div>
      <div class="recipe__btns">
        <button
          class="button recipe__btn uppercase"
          type="button"
          name="add-to-favourites"
        >
          Add to my favourites
        </button>
        <button
          class="button recipe__btn uppercase"
          type="button"
          name="add-to-do"
        >
          Add to wish list
        </button>
      </div>
    </div>
  </div>
</div>
